In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [5]:
df = pd.read_csv('./data/train.csv')
df.head()

   sentiment                                            message  tweetid
0          1  PolySciMajor EPA chief doesn't think carbon di...   625221
1          1  It's not like we lack evidence of anthropogeni...   126103
2          2  RT @RawStory: Researchers say we have three ye...   698562
3          1  #TodayinMaker# WIRED : 2016 was a pivotal year...   573736
4          1  RT @SoyNovioDeTodas: It's 2016, and a racist, ...   466954

## EDA

In [6]:
#view the info of the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15819 entries, 0 to 15818
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sentiment  15819 non-null  int64
 1   message    15819 non-null  object
 2   tweetid    15819 non-null  int64
dtypes: int64(2), object(1)
memory usage: 370.9+ KB

In [7]:
#view the data summary
df.describe()

          sentiment        tweetid
count  15819.000000   15819.000000
mean       0.917504  501719.433656
std        0.836537  289045.983132
min       -1.000000       6.000000
25%        1.000000  253207.500000
50%        1.000000  502291.000000
75%        1.000000  753769.000000
max        2.000000  999888.000000

In [22]:
#Find The unique Sentiments and view their counts
df[['sentiment']].value_counts()

sentiment
 1           8530
 2           3640
 0           2353
-1           1296
dtype: int64

In [28]:
#Find if all the twweetids are unique
df['tweetid'].unique().shape #Note that all the tweetids are unique and thus irrelevant

(15819,)

In [29]:
#see if there are any nulls
df.isna().sum()

sentiment    0
message      0
tweetid      0
dtype: int64

## Data Preprocessing

In [33]:
#Get the labels and targets
messages = df['message']
sentiments = df['sentiment']

In [42]:
from sklearn.model_selection import train_test_split
#Split the labels and target into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(messages, sentiments, test_size=0.3)

In [43]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(stop_words = 'english') #Instantiate the object
vectorizer.fit(X_train) #build vocabulary for training

#encode the text data
X_train_tokenized = vectorizer.transform(X_train)
X_test_tokenized = vectorizer.transform(X_test)

In [45]:
X_train_tokenized.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

## MODEL BUILD

In [48]:
from sklearn.linear_model import LogisticRegression

In [54]:
cls = LogisticRegression() #Instantiate the model object
cls.fit(X_train_tokenized, y_train) # train the model

C:\Users\Ethan\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

## MODEL PERFORMANCE

In [55]:
f_score = cls.score(X_test_tokenized, y_test)
f_score

0.7370417193426043

In [59]:
from sklearn.metrics import accuracy_score, classification_report
y_pred = cls.predict(X_test_tokenized) #predict the target for the y_test

# find the accurancy of the model
accuracy_score(y_test, y_pred)

0.7370417193426043

In [64]:
# Find the classification matrix to the model's metrics
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

          -1       0.76      0.40      0.53       404
           0       0.59      0.46      0.52       696
           1       0.76      0.85      0.80      2569
           2       0.75      0.76      0.75      1077

    accuracy                           0.74      4746
   macro avg       0.71      0.62      0.65      4746
weighted avg       0.73      0.74      0.73      4746